body {
  font-family: arial, sans-serif;
  color: #4d4d4d;
}

.header {
  width: 100%;
  height: 64px;
  top: 0;
  z-index:1;
}
.logo {
  padding-left: 24px;
}
.logo img {
  height: 32px;
  float: left;
  padding-top: 15px;
}
.logo p {
  font-size: 20px;
  float: left;
}
li {
  list-style: none;
  float: left;
  padding-left: 16px;
}
.nav {
  float: right;
  padding-right: 24px;
}


.banner-container ,
.about-container ,
.start-container ,
.thesis-container {
  display: flex;
  flex-direction: column;
}
.banner-container {
background-color: #cccccc;
width: 100%;
}
#banner img {
  padding: 32px 24px;
  float: left;
  width: 60%;
}
#banner a {
  color: white;
  background-color: gray;
  padding: 8px 80px;
}


.about-container {
  float: left;
  width: 59%;
}
#main-about img{
  padding: 32px 24px;
  width: 60%;
}
#main-about h1 {
  padding-left: 24px;
  padding-bottom: 24px;
  margin-top: 0;
}
#main-about p {
  padding-left: 24px;
  padding-bottom: 32px;
  line-height: 30px;
  font-size: 14px;
}

.list-about {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  padding-top: 16px;
  border-left: 1px solid lightgray;
}
.list-about h2 {
  margin-bottom: 0px;
}
.list-about a {
  margin-top: 0px;
  font-size: 14px;
  color: blue;
}
.list-about p {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}
.list-about #text {
  vertical-align: middle;
}

.list-2 {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.list-3 {
  background-color: lightgray;
}
.list-3 {
  line-height: 25px;
}
.list-1 img ,
.list-2 img ,
.list-3 img {
  width: 35%;
  height: auto;
  padding: 16px;
  float: left;
}


.start-container {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
}
.start-container h1 {
  margin-top: 32px;
  margin-bottom: 32px;
}
#start {
  margin-top: 0px;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 0px;
}
#start-two {
margin: 32px 72px;
}
#start ,
#start-two {
  display: inline-flex;
  align-self: center;
}
.start-container img {
  padding-bottom: 16px;
}
.start-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 16px;
}
.start-container p {
  margin-top: 0px;
  margin-bottom: 24px;
  margin-left: 16px;
}
#courses {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
}
#start img ,
#box ,
#start-two img {
  width: 325px;
}
#start div ,
#start-two div {
  background-color: white;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}
#computer ,
#business {
  margin-left: 32px;
  margin-right: 32px;
}
